<div class="row">
            <div class="col-md-3"></div>
            <div id="loginbox" style="margin-top:100px;" class="mainbox col-md-6">
                <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Sign In</div>
                    </div>

                    <div style="padding-top:30px" class="panel-body" >

                      <form (ngSubmit)="login()" [formGroup]="forma">

                        <div style="display" id="login-alert" class="alert alert-danger col-sm-12">
                                <div style="margin-bottom: 25px" class="form-group row">
                                    <div class="col-md-12">
                                      <input type="text" class="form-control" id="username"
                                             formControlName="username"
                                             >
                                             <div *ngIf="forma.controls['username'].invalid && (forma.controls['username'].dirty || forma.controls['username'].touched)"
                                                  class="alert alert-danger">
                                                 <div *ngIf="forma.controls['username'].errors?.required">
                                                   El usuario es requerido
                                                 </div>
                                             </div>
                                    </div>

                                </div>

                                <div style="margin-bottom: 25px" class="form-group row">
                                    <div class="col-md-12">
                                      <input type="text" class="form-control" id="password"
                                             formControlName="password"
                                             >
                                             <div *ngIf="forma.controls['password'].invalid && (forma.controls['password'].dirty || forma.controls['password'].touched)"
                                                  class="alert alert-danger">
                                                 <div *ngIf="forma.controls['password'].errors?.required">
                                                   El password es requerido
                                                 </div>
                                             </div>
                                    </div>
                                </div>

                                <div style="margin-top:10px" class="form-group row">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls">
                                      <button type="submit"
                                              class="btn btn-success"
                                              >
                                              Login
                                      </button>
                                    </div>
                                </div>
                        </div>
                      </form>
                    </div>


            </div>

</div>
